
:root {
  --mdc-theme-primary: #2F4F4F;
  --mdc-theme-secondary: #2F4F4F;
  --mdc-theme-background: #fff;
}

.mdc-dialog {
  display: block;
}

.mdc-dialog__container {
  opacity: 1;
}

.mdc-dialog .mdc-dialog__scrim {
  background-color: rgba(82, 77, 77, 0.171);
}

.mdc-dialog__scrim {
  opacity: 1;
}
.mdc-dialog__surface {
  width: 400px;
  height: 350px;
}

a {
  text-decoration: none;
}

#my-dialog-content {
  padding-top: 20px;
  font-size: 18px;
  color: #2F4F4F;
}

#my-dialog-title {
  padding-top: 30px;
  color: #2F4F4F;
  font-size: 22px;
}

a:visited {
color: #2F4F4F;
}

li {
  list-style-type: none;
}

.startButton {
  padding-top: 350px;
  padding-left: 650px;
}

.quiz {
  padding-top: 100px;
  padding-left: 250px;
  padding-right: 250px;
}

.result .mdc-button__label {
  font-size: 22px;
}

.startButton  .mdc-button__label {
  font-size: 22px;
}

.loadingText {
  position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
}

.result {
  padding-top: 40px;
  padding-bottom: 40px;
}

h3 {
  color: #2F4F4F;
}
